{{#push "title"}}
<title>{{i18n 'mail.registration.subject'}}</title>
{{/push}}
{{#push "styles"}}
  <style type="text/css">
    .template-label {
      color: #ffffff;
      font-weight: bold;
      font-size: 11px;
    }

    .callout .panel {
      background: #FAFAFA;
      border-color: #ECECEC;
    }
  </style>
{{/push}}

<!-- content start -->
<table class="row">
  <tr>
    <td class="wrapper last">

      <table class="twelve columns">
        <tr>
          <td>

            <h2 class="center">{{{i18n 'mail.registration.hi' name}}}</h2>

          </td>
          <td class="expander"></td>
        </tr>
      </table>

    </td>
  </tr>
</table>

<!-- content start -->
<table class="row">
  <tr>
    <td class="wrapper last">

      <table class="twelve columns">
        <tr>
          <td>

            <p class="lead center">{{{i18n 'mail.registration.title'}}}</p>

          </td>
          <td class="expander"></td>
        </tr>
      </table>

    </td>
  </tr>
</table>

<table class="row">
  <tr>
    <td class="wrapper last center" align="center">
      <center>
      <table class="six columns">
        <tr>
          <td>

          </td>
          <td class="expander"></td>
        </tr>
      </table>
      </center>
    </td>
  </tr>
</table>

<table class="row">
  <tr>
    <td class="wrapper last center" align="center">
      <center>
      <table class="ten columns">
        <tr>
          <td class="right-text-pad">

            <table class="button medium-button secondary">
              <tr>
                <td class="right-text-pad left-text-pad">
                  <a href="http://www.uralys.com{{route 'dashboard.index' lang=locale}}">{{i18n 'mail.registration.seeAccount'}}</a>
                </td>
              </tr>
            </table>

          </td>
          <td>

            <table class="button medium-button">
              <tr>
                <td class="right-text-pad left-text-pad">
                  <a href="http://www.uralys.com{{route 'dashboard.index' lang=locale}}">{{i18n 'mail.registration.play'}}</a>
                </td>
              </tr>
            </table>

          </td>
        </tr>
      </table>
      </center>
    </td>
  </tr>
</table>


