{{#push "meta"}}
  <meta name="description" content="{{i18n 'brand_meta_desc'}}">
  <meta property="og:title" content="{{i18n 'brand_meta_title'}}">
  <meta property="og:description" content="{{i18n 'brand_meta_desc'}}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{canonicalUrl}}">
  <meta property="og:image" content="{{ogImageUrl}}">
  {{#if canonicalUrl}}<link rel="canonical" href="{{canonicalUrl}}" />{{/if}}
  {{#each alternateUrls}}
    <link rel="alternate" href="{{url}}" hreflang="{{code}}" />
  {{/each}}
{{/push}}

{{#push "styles"}}
{{/push}}

{{!-- section: hero--}}
<section class="landing-section landing-hero">
  <h1 class="text-center mtn mbxl">{{i18n 'landing_title'}}</h1>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
      </div>
      <div class="col-xs-12 col-sm-4">
      </div>
      <div class="col-xs-12 col-sm-4">
      </div>
    </div>
  </div>
</section>
