<div class="row">
  <div class="col-xs-12 col-sm-3">
    <h2>{{i18n 'footer_company'}}</h2>
    <nav class='footer-nav'>
      <ul class="list-unstyled">
        <li>
          <a href="{{route 'about.index' lang=locale}}">{{i18n 'about'}}</a>
        </li>
        <li>
          <a href="{{route 'about.press' lang=locale}}">{{i18n 'press'}}</a>
        </li>
        <li>
          <a href="{{route 'about.advertisers' lang=locale}}">{{i18n 'advertisers'}}</a>
        </li>
        <li>
          <a href="{{route 'about.team' lang=locale}}">{{i18n 'team'}}</a>
        </li>
        <li>
          <a href="{{route 'about.legalnotices' lang=locale}}">{{i18n 'legalnotices'}}</a>
        </li>
{{!--         <li>
          <a href="{{route 'about.jobs' lang=locale}}">{{i18n 'jobs'}}</a>
        </li> --}}
      </ul>
    </nav>
  </div>
  <div class="col-xs-12 col-sm-3">
    <h2>{{i18n 'footer_support'}}</h2>
    <nav class='footer-nav'>
      <ul class="list-unstyled">
        <li>
          <a href="{{route 'about.rules' lang=locale}}">{{i18n 'keyrules'}}</a>
        </li>
        <li>
          <a href="{{route 'about.privacy' lang=locale}}">{{i18n 'privacy'}}</a>
        </li>
        <li>
          <a href="{{route 'about.terms' lang=locale}}">{{i18n 'terms'}}</a>
        </li>
        <li>
          <a href="{{route 'about.faq' lang=locale}}">{{i18n 'faq'}}</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="col-xs-12 col-sm-3">
    <h2>{{i18n 'footer_game'}}</h2>
    <nav class='footer-nav'>
      <ul class="list-unstyled">
        <li>
          <a href="{{route 'about.winwinwin' lang=locale}}">{{i18n 'winwinwin'}}</a>
        </li>
        <li>
          <a href="{{route 'about.prizes' lang=locale}}">{{i18n 'prizes'}}</a>
        </li>
        <li>
          <a href="{{route 'about.reward' lang=locale}}">{{i18n 'reward'}}</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="col-xs-12 col-sm-3">
    <h2>{{i18n 'footer_connect'}}</h2>
    <nav class='footer-nav'>
      {{> 'footer_social'}}
    </nav>
  </div>
</div>
