<ul class="list-unstyled">
  <li>
    <a href="{{extUrl 'facebook'}}">
      <span class="social social-facebook mrxs"></span>
      Facebook
    </a>
  </li>
  <li>
    <a href="{{extUrl 'twitter'}}">
      <span class="social social-twitter mrxs"></span>
      Twitter
    </a>
  </li>
  <li>
    <a href="{{extUrl 'google'}}">
      <span class="social social-google_plus mrxs"></span>
      Google
    </a>
  </li>
  <li>
    <a href="{{extUrl 'pinterest'}}">
      <span class="social social-pinterest mrxs"></span>
      Pinterest
    </a>
  </li>
  <li>
    <a href="{{extUrl 'linkedin'}}">
      <span class="social social-linked_in mrxs"></span>
      LinkedIn
    </a>
  </li>
</ul>
