<div class="navbar-right">

  <ul class="nav navbar-nav">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle clearfix avatar-link" data-toggle="dropdown" id="header-private-dropdown">
        <div class="media">
          <span class="pull-left avatar" href="#">
            <img class="media-object" src="{{#if user.photo}}{{user.photo}}{{else}}/images/avatar/avatar-s-60x60.png{{/if}}" width="36" />
          </span>
          <div class="media-body text-left">
            {{#if user.userName}}
              {{user.userName}}
            {{else}}
             {{user.firstName}} {{user.lastName}}
            {{/if}}
            <b class="caret"></b>
          </div>
        </div>
      </a>
      <ul class="dropdown-menu" role="menu">
        <li>
          <a href="{{route 'dashboard.index' lang=locale id=user.uid}}" id="header-private-account">
          {{{i18n 'account'}}}
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="{{route 'auth.logout' lang=locale}}" id="header-private-logout">
            <span class="glyphicon glyphicon-log-out"></span>
            {{i18n 'ui_logout'}}
          </a>
        </li>
      </ul>
    </li>
  </ul>

  <div class="navbar-btn navbar-right">
    <a href="{{route 'dashboard.index' lang=locale}}" class="btn btn-lead" id="header-private-play">
    {{{i18n 'play'}}}
    </a>
  </div>

</div>

