{{#push "title"}}
    <title>{{i18n 'brand'}}: {{i18n 'game_meta_title'}}</title>
{{/push}}
{{#push "meta"}}
    <meta name="description" content="{{i18n 'game_meta_desc'}}">
{{/push}}

<div class="row mtxl">

{{!--   <div class="col-xs-12 col-sm-3 hidden-xs">
    {{> 'settings_nav'}}
  </div> --}}

  <div class="col-xs-12 col-sm-10 col-md-8 col-md-offset-2 col-sm-offset-1">

    {{> 'alerts'}}

    {{#unless isMobile}}
    <div class="panel panel-default">
      <div class="panel-heading">
        {{i18n 'ui_connect'}}
      </div>
      <div class="panel-body">
        <div class="account-providers clearfix">
        <p class="text-muted text-center">{{i18n 'account_connect_desc'}}</p>
        {{> 'auth_providers'}}
        </div>
      </div>
    </div>
    {{/unless}}


    <div class="panel panel-default">
      <div class="panel-heading">
        {{{i18n 'profile'}}} {{user.username}}
      </div>
      <div class="panel-body">
        <form role="form form-horizontal" action="{{#if isMobile}}{{route 'userSettings.updateAccountMobile' lang=locale}}{{else}}{{route 'userSettings.updateAccount' lang=locale}}{{/if}}" method="post" class='settings-account-form'>

          <input type="hidden" name="_method" value="put">
          {{#if isMobile}}
          <input type="hidden" name="access_token" value="{{user.auth_token}}">
          {{/if}}

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group form-group-lg has-feedback" data-toggle="tooltip" data-placement="top">
                  <label class="control-label" for="settings-account-username">{{i18n 'ui_username'}}</label>
                  <input type="text" class="form-control username" name="user[userName]" placeholder="{{i18n 'ui_username'}}" value="{{form.userName}}" id="settings-account-username">
                  <span class="help-block"></span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group form-group-lg has-feedback" data-toggle="tooltip" data-placement="top">
                  <label class="control-label" for="settings-account-firstName">{{i18n 'ui_firstname'}}</label>
                  <input type="text" class="form-control firstName" name="user[firstName]" placeholder="{{i18n 'ui_firstname'}}" value="{{form.firstName}}" id="settings-account-firstName">
                  <span class="help-block"></span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group form-group-lg has-feedback" data-toggle="tooltip" data-placement="top">
                  <label class="control-label" for="settings-account-lastName">{{i18n 'ui_lastname'}}</label>
                  <input type="text" class="form-control lastName" name="user[lastName]" placeholder="{{i18n 'ui_lastname'}}" value="{{form.lastName}}" id="settings-account-lastName">
                  <span class="help-block"></span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group form-group-lg has-feedback" data-toggle="tooltip" data-placement="top">
                  <label class="control-label" for="username">{{i18n 'ui_birthdate'}}</label>
                  <div class="row">
                    <div class="col-xs-4 col-sm-3 prxs">
                      <select name="user[birthDate][day]" class="form-control" id="settings-account-birthDate-day">
                        <option value="" disabled="disabled" {{#unless form.birthDate_day}}selected="selected"{{/unless}}>{{i18n 'ui_day'}}</option>
                        {{#each form.days}}
                          <option value="{{@key}}" {{#eq ../form.birthDate_day this}}selected="selected"{{/eq}}>{{this}}</option>
                        {{/each}}
                      </select>
                    </div>
                    <div class="col-xs-4 col-sm-6 pln prn">
                      <select name="user[birthDate][month]" class="form-control" id="settings-account-birthDate-month">
                        <option value="" disabled="disabled" {{#unless form.birthDate_month}}selected="selected"{{/unless}}>{{i18n 'ui_month'}}</option>
                        {{#each form.months}}
                        <option value="{{@key}}" {{#eq ../form.birthDate_month this}}selected="selected"{{/eq}}>{{this}}</option>
                        {{/each}}
                      </select>
                    </div>
                    <div class="col-xs-4 col-sm-3 plxs">
                      <select name="user[birthDate][year]" class="form-control" id="settings-account-birthDate-year">
                        <option value="" disabled="disabled" {{#unless form.birthDate_year}}selected="selected"{{/unless}}>{{i18n 'ui_year'}}</option>
                        {{#each form.years}}
                        <option value="{{this}}" {{#eq ../form.birthDate_year this}}selected="selected"{{/eq}}>{{this}}</option>
                        {{/each}}
                      </select>
                    </div>
                  </div>
                  <span class="help-block"></span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group form-group-lg has-feedback">
                  <label class="control-label" for="settings-account-email">{{i18n 'ui_email'}}</label>
                  <input type="email" class="form-control email" name="user[email]" placeholder="{{i18n 'ui_email'}}" value="{{form.email}}" id="account_email" id="settings-account-email">
                  <span class="help-block"></span>
                </div>
              </div>
            </div>

            <div class="mtl">
              <button type="submit" class="btn btn-lead btn-block btn-lg" data-loading-text="{{i18n 'ui_loading'}}" data-loading-text="{{i18n 'ui_loading'}}" id="settings-account-submit">{{i18n 'account_update'}}</button>
            </div>
        </form>

      </div>
    </div>
  </div>

</div>
